@import "../common"

.docs-container
  .docs-content
    flex: 3
  .docs-right
    position: relative
    flex: 1
    .docs-menu
      position: fixed
      top: 5em
      code
        display: none
      li
        font-size: 14px;
    