@import "../common"

html
  font: normal normal normal 16px/150% Arial,Verdana,"微软雅黑";
body
  padding: 1em;

.docs-container
  display: flex
  .docs-tree
    width: 26%
    .hlist
      tree()
  .docs-content
    flex: 1