html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  border: 0;
  font-size: 100%;
  // font: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  vertical-align: baseline;
  margin: 0;
  padding: 0;

.markdown-body
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  // overflow: hidden;
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  *
    box-sizing: border-box;

  >*
    &:first-child
      margin-top: 0 !important;

  >*
    &:last-child
      margin-bottom: 0 !important;

  a
    background-color: transparent;
    color: #4078c0;
    text-decoration: none;
    code
      color: #3492ff
      background-color: transparent
      font-style: italic
      font-size: 14px
      margin: 0 3px
    &:active, &:hover
      outline: 0;
      text-decoration: underline;
    &:not([href])
      color: inherit;
      text-decoration: none;

  p
    // text-indent: 1em;
    margin: 1em 0;
    &:first-child
        text-indent: 0;

  p, blockquote, ul, ol, dl, table, pre
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.875em;

  img
    border: 0;
    max-width: 100%;

  li
    margin: 0.5em 0;
    >a
      color: #3194d0;
    >p
      margin-top: 16px;

  strong
    font-weight: bold;

  // hr
  //   box-sizing: content-box;
  //   height: 0;
  //   //
  //   height: 0;
  //   margin: 10px 0;
  //   overflow: hidden;
  //   background: transparent;
  //   border: 0;
  //   border-bottom: 1px solid #ddd;
  //   &:before
  //     display: table;
  //     content: "";

  hr
    height: 1px;
    margin: 16px 0;
    background: transparent;
    border-bottom: 1px solid #e9e9e9;
    clear: both
    &:before
      display: table;
      content: "";
    &:after
      display: table;
      clear: both;
      content: "";

  .octicon
    font: normal normal normal 16px/1 octicons-anchor;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  .octicon-link
    &:before
      content: '\f05c';


  .anchor
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
    &:focus
      outline: none;

  h1, h2, h3, h4, h5, h6
    font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin: 1.6em 0 .6em;
    // margin: 1.5em 0 0.25em;
    color: #465E69;
    clear: both
    &:first-child
      margin-top: 0;
    .anchor
      line-height: 1;
    .octicon-link
      display: none;
      color: #000;
      vertical-align: middle;
    &:hover
      .anchor
        padding-left: 8px;
        margin-left: -30px;
        text-decoration: none;
        .octicon-link
          display: inline-block;

  fontsz = 0 28px 22px 18px 16px 14px 12px
  for font, i in fontsz
    if i > 0
      {h+i}
        font-size: font
        if i == 1
          small
            font-size: 12px;
            font-weight: 100;
            color: #a6a6a6;
            vertical-align: bottom;
        if i == 2
          border-bottom: 3px solid #f08753
          padding-bottom: 0.3em


  input
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: normal;

  input[disabled]
    cursor: default
    &[type="checkbox"]
      box-sizing: border-box;
      padding: 0;


  table
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    th
      font-weight: bold;
      padding: 6px 13px;
      border: 1px solid #ddd;
    td
      padding: 6px 13px;
      border: 1px solid #ddd;
    tr
      background-color: #fff;
      border-top: 1px solid #ccc;
      &:nth-child(2n)
        background-color: #f8f8f8;


  ul, ol
    font-size: 0.85em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
    > li
      margin-left: 20px;
      padding-left: 4px
      &:empty
        display: none
  ul
    margin-left: 0;
    >li
      list-style-type: disc;
      li
        list-style-type: circle;
  ol
    >li
      list-style-type: decimal;

  dl
    padding: 0;
    dt
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: bold;
    dd
      margin-left: 0;
      padding: 0 16px;
      margin-bottom: 16px;


  select
    &::-ms-expand
      opacity: 0;


  blockquote
    border-radius: 4px
    padding: 10px 15px;
    color: #777;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    // border: 1px solid ##8e8e8e
    // border-left: 0.5em solid #ddd;
    &:first-child
      margin-top: 0;
    &:last-child
      margin-bottom: 0;
    &.tip
      background-color: #DCF2FD;
      color: #618ca0;
    &.warning
      background-color: #fbedb7;
      color: #8c8466;

  .highlight
    margin-bottom: 16px;

  code
    a &
      color: #2086d7
    p &
      display: inline-block;
      max-width: 100%;
      overflow: auto;
      vertical-align: middle;
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace
    padding: 4px 0 3px 0;
    font-size: 1.1em;
    background-color: #f5f5f5;
    border-radius: 3px;
    margin:0 .4em;
    color: #c1647c
    &:before, &:after
      letter-spacing: -0.2em;
      content: "\00a0";

  pre
    overflow: auto;
    word-wrap: normal;
    padding: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin: 1em 0
    font: 12px/1.45 Consolas, "Liberation Mono", Menlo, Courier, monospace;
    .highlight &
      margin-bottom: 0;
      word-break: normal;
    code
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
      &:before, &:after
        content: normal;
    >code
      font-size: 1em;
      white-space: pre;

  +.radio-label
    &:checked
      z-index: 1;
      position: relative;
      border-color: #4078c0;



// /* desert scheme ported from vim to google prettify */
// pre.prettyprint { display: block; background-color: #2B3A42; padding: 15px; }
// pre .nocode { background-color: none; color: #000 }
// pre .str { color: #ffa0a0 } /* string  - pink */
// pre .kwd { color: #f0e68c;}
// pre .com { color: #77858c } /* comment - skyblue */
// pre .typ { color: #98fb98 } /* type    - lightgreen */
// pre .lit { color: #cd5c5c } /* literal - darkred */
// pre .pun { color: #fff }    /* punctuation */
// pre .pln { color: #fff }    /* plaintext */
// pre .tag { color: #f0e68c;} /* html/xml tag    - lightyellow */
// pre .atn { color: #bdb76b;} /* attribute name  - khaki */
// pre .atv { color: #ffa0a0 } /* attribute value - pink */
// pre .dec { color: #98fb98 } /* decimal         - lightgreen */
//
// /* Specify class=linenums on a pre to get line numbering */
// ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
// li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
// /* Alternate shading for lines */
// li.L1,li.L3,li.L5,li.L7,li.L9 { }
//
// @media print {
//   pre.prettyprint { background-color: none }
//   pre .str, code .str { color: #060 }
//   pre .kwd, code .kwd { color: #006;}
//   pre .com, code .com { color: #600; font-style: italic }
//   pre .typ, code .typ { color: #404;}
//   pre .lit, code .lit { color: #044 }
//   pre .pun, code .pun { color: #440 }
//   pre .pln, code .pln { color: #000 }
//   pre .tag, code .tag { color: #006;}
//   pre .atn, code .atn { color: #404 }
//   pre .atv, code .atv { color: #060 }
// }


/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
pre.prettyprint {
  background: #f7f7f7;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
  padding-left: 1em;
  background-color: #ffffff;
  list-style-type: decimal;


classList = pln str kwd com typ lit pun opn clo tag atn atv dec var fun
colorList = #4d4d4c #718c00 #8959a8 #8e908c #4271ae #f5871f #4d4d4c #4d4d4c #4d4d4c #c82829 #f5871f #3e999f #f5871f #c82829 #4271ae
@media screen
  for cls, i in classList
    .{cls}
      color: colorList[i]

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #8e908c;
}

@media screen and (max-width: 1024px)
  .markdown-body
    font-size: 0.9em;
    img
      width: 100%;
    ul, ol
      font-size: 1.7em;
      li
        font-size: 0.6em;

    .side-menu
      display: none;
      h4
        margin-top: 0;

  #cnzz_stat_icon_1257390996
    display: none;
