//定位
.absolute
  position: absolute;
.absolute-top-right
  @extends .absolute
  top: 0
  right: 0
.absolute-top-left
  @extends .absolute
  top: 0
  left: 0
.absolute-bottom-right
  @extends .absolute
  bottom: 0
  right: 0
.absolute-bottom-left
  @extends .absolute
  bottom: 0
  left: 0

.relative
  position: relative;

.absolute-list-right
  @extends .absolute
  bottom: 0.45rem
  right: 0