.bg-default
  background: #f8f8f8
.bg-fff
  background: #fff

.bg-2485cf
  background: #2485cf
.bg-00a0e9
  background: #00a0e9
.bg-68bdf0
  background: #68bdf0
.bg-fcfefe
  background: #fcfefe
.bg-f43443
  background: #f43443
.bg-f0fbff
  background: #f0fbff
.bg-fbf8e8
  background: #fbf8e8
.bg-f0f7fe
  background: #f0f7fe
.bg-f4f4f4
  background: #f4f4f4
.bg-f5f5f5
  background: #f5f5f5


.bg-iphone-android
  border: 1px solid #ccc
  border-radius: 6px
  display: block;
  width: 175px
  height: 45px
  text-indent: -9999rem

.bg-iphone
  @extends .bg-iphone-android
  background-image: url(/images/regiter/btn_foriphone_n@3x.png)
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: #9a9a9a
.bg-android
  @extends .bg-iphone-android
  background-image: url(/images/regiter/btn_forandroid_n@3x.png)
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: #a3ba6d

.bg-2485cf-icon
  border-left: 2px solid #2485cf;
  color: #333
  display: block;
  font-weight: bold;
  font-size: 16px
  line-height: @font-size
  padding-left: .066667rem
  margin-bottom: 0.1rem


//扩展
.bg-fff-pd
  background: #fff
  padding: 0.2rem
