.border-t
  ss-border-item(#ccc, top)


.border-t-distance
  @extends .border-t
  margin-top: 0.2rem
  padding-top: @margin-top

.border-l-distance
  ss-border-item(#ccc, left)
  margin-left: 0.2rem
  padding-left: @margin-left
