.color-ff6600
  color: #ff6600
.color-2485cf
  color: #2485cf
.color-333
  color: #333
.color-666
  color: #666
.color-999
  color: #999
.color-f9b427
  color: #f9b427
.color-fd992c
  color: #fd992c
.color-ccc
  color: #ccc
.color-fff
  color: #fff
.color-fe0000
  color: #fe0000
.color-007aff
  color: #007aff
.color-000
  color: #000
.li-bg-ff4e63
  li
    background: #ff4e63
.li-bg-3298e6
  li
    background: #3298e6
.li-bg-faa818
  li
    background: #faa818
