.font-weight-bold
  font-weight: bold
.font-weight-normal
  font-weight: normal
  
.ss-dot
  ss-dot($shadow: true,  $position: true)
.ss-dot-absolute
  ss-dot($shadow: true,  $position: true, $absolute: true)
