.icon-right-dropdown-ul-normal
  ss-dropdown-ul-icon-right($line-height: 60px, $padding-left-li: 0.2rem, $margin-li: 0, $color: #333, $font-size: 15px)

.dropdown-ul-m
  ss-dropdown-ul-icon-right($line-height: 13px, $padding-left-li: 0.17rem, $margin-li: 0 0.2rem, $color: #333, $font-size: 13px, $liborder: true, $content: false)

.icon-right-dropdown-ul
  ss-dropdown-ul-icon-right($line-height: 48px, $padding-left-li: 0, $margin-li: 0 0.2rem, $color: #333, $font-size: 15px,$hover-color: #2485cf, $liborder: true)
  // position: absolute;
  // top: 45px
  // left: 0


//
.dropdown-layer
  background: #fff
  position: absolute
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 15;
  padding: 0.134rem 0.2rem