.height-50
  height: 50px
.height-100
  height: 100px

// .hei-50
//   height: .666667rem
// .hei-45
//   height: .6rem
// .hei-30
//   height: .4rem
// .hei-0
//   height: 0

.hei-p100
  height: 100%


// .m-hei-none
//   max-height: none

// .lhr-22
//   line-height: .266667rem