// //向右箭头
// .icon-toggle
//   &:after
//     color: #666
//     content: '\e618'      //向右的箭头
//   // &:active
//   //   &:after
//   //     content: '\e616'          //向下的箭头
// //向下箭头
// .icon-toggle-down
//   &:after
//     color: #666
//     content: '\e616'
//   &:active,&.active
//     &:after
//       content: '\e617'          //向上的箭头
// //筛选的向下箭头 上面那个暂定
// .icon-triangledownfill
//   &:after
//     content: '\e616'
//     color: #666
//     margin-left: 0.05rem;
//   &:active,&.active
//     color: #2485cf
//     &:active,&.active
//       &:after
//         content: '\e617'
//         color: @color

// .tree-icon-toggle
//   &:after
//     content: '\e618'      //向右的箭头
//     position: absolute;
//     top: 0
//     right: 0
//   &:active
//     &:after
//       content: '\e616'          //向下的箭头

// //后退的向左箭头
// .icon-return
//   color: #fff;
//   &:before
//     font-size: 20px;
//     content: '\e644'
//     margin-right: .066667rem

// //更多 三个点的图标
// .icon-more-dot
//   &:before
//     content: '\e6eb'
//     color: #fff
//     font-size: 28px

// //透明度 圆圈返回
// .icon-return-opacity
//   @extends .icon-return
//   background: rgba(0, 0, 0, 0.7)
//   border-radius: 100%
//   width: 35px
//   height: @width
//   line-height: @width
//   text-align: center;

// //透明度 圆圈更多
// .icon-more-opacity
//   @extends .icon-more-dot
//   background: rgba(0, 0, 0, 0.7)
//   border-radius: 100%
//   width: 35px
//   height: @width
//   line-height: @width
//   text-align: center;

// //二维码 扫码框
// .icon-erm
//   &:before
//     content: '\e60e'
//     // font-size: 25px
//     // color: #fff
//     font-size: 20px
//     color: #2485cf

// //手机 最近联系
// .icon-phone
//   color: #ff6600;
//   width: .4rem
//   height: @width
//   position: relative
//   ss-display-flex(row, flex-start, center, center)
//   &:before
//     font-size: 30px;
//     content: '\e607'
//   // &:after
//   //   content: '';
//   //   border-left: 1px solid #e3e3e3;
//   //   position: absolute;
//   //   top: 0;
//   //   left: -12px;
//   //   height: 100%;

// //圆圈 -向下的箭头
// .icon-toggle-tb
//   color: #f9b427
//   &:before
//     content: '\e669'
//   &.active,&:active
//     &:before
//       content: '\e66a'


// //圆的wechat
// .icon-wechat-round
//   &:before
//     content: '\e656'
//     color: #3ed214
//     font-size: 50px

// //圆的qq
// .icon-qq-round
//   text-indent: -9999rem
//   &:before
//     content: '\e655'
//     color: #1ca2e7
//     font-size: 50px


// //加号 上传按钮
// .icon-add
//   &:before
//     content: '\e66e'
//     color: #999999
//     font-size: 20px

// //名店图标
// .icon-mingdian
//   width: 16px
//   height: 16px
//   background: url(/images/list/mingdian-icon.png) no-repeat
//   background-size: contain;
//   background-position: center;

// .icon-share
//   color: #fff
//   &:before
//     content: '\e7ee'
//     font-size: 20px
// //带文字的分享
// .icon-share-wz
//   ss-display-flex(column, center, center, center)
//   color: #999
//   &:before
//     content: '\e7ee'
//     font-size: 20px
//   &:after
//     content: '分享'
//     font-size: 13px



// .icon-pyq   //朋友圈
//   color: #62b900
//   &:before
//     content: '\e660'
// .icon-wxhy
//   color: #3ed214
//   &:before
//     content: '\e663'
// .icon-qqhy
//   color: #0096e4
//   &:before
//     content: '\e664'
// .icon-qqkj
//   color: #ffd220
//   &:before
//     content: '\e661'
// .icon-wxsc
//   color: #39c8a8
//   &:before
//     content: '\e662'
// .icon-dx
//   color: #60d8e6
//   &:before
//     content: '\e665'
// .icon-copylink
//   color: #6565ff
//   &:before
//     content: '\e666'

// .icon-r-wx
//   color: #62c67d
//   font-size: 30px;
//   &:before
//     content: '\e663'
// .icon-r-pyq
//   color: #f69d62
//   font-size: 30px;
//   &:before
//     content: '\e660'

// .icon-zhu         //带有主字icon
//   color: #f9b427;
//   &:before
//     content: '\e65a'


// .icon-password //input-password 眼睛
//   color: #ccc
//   font-size: 12px
//   &:before
//     content: '\e65e'
//   &.active
//     &:before
//       content: '\e65d'


// .iconfont-tele,.iconfont-ptele
//   &:before
//     content: '\e678'
// .iconfont-phone
//   &:before
//     content: '\e679'
// .iconfont-qq
//   &:before
//     content: '\e677'


// //带边框的打框
// .icon-checked-is
//   &:before
//     content: '\e67f'
// //带边框
// .icon-check-is
//   &:before
//     content: '\e67e'


// //扫码二维码框
// .icon-qrcode
//   &:before 
//     content: '\e698'

// .icon-tels
//   &:before 
//     content: '\e682'
// .icon-qqs
//   &:before 
//     content: '\e681'
//  //定位   
// .icon-dw
//   &:before 
//     content: '\e668'
//     // color: #999
// .icon-screen
//   &:before
//     content: '\e64f'
//     // color: #999
// //地图 方向指南
// .icon-direction
//   background: #2485cf
//   width: 50px
//   height: @width
//   border-radius: @width
//   ss-display-flex(row, center, center, center)
//   &:before
//     content: '\e65c'
//     color: #fff
//     font-size: 20px

// .icon-calendar
//   &:before
//     content: '\e6bc'
//     margin-right: .08rem
//     color: #666

// .icon-hots      //hot
//   &:before
//     content: ''
//     background: url('/images/icon-hot.png') no-repeat
//     background-position: 50%
//     background-size: contain
//     width: 22px
//     height: 14px
//     position: absolute;
//     top: -14px;
//     right: -14px;

// .icon-nd
//   &:before 
//     content: ''
//     background: url('/images/icon-nd.png') no-repeat
//     width: 1.4rem
//     height: @width
//     margin-bottom: .066667rem
//     background-position: center
//     background-size: contain
//     display: block;

// .icon-hurt
//   &:before
//     content: "\e690"; 
//     color: #999
//     margin-right: .066667rem

// .icon-qmark
//   &:before
//     content: '\e6c8'

.icon-search
  &:before
    content: '\e697'
.icon-loading
  &:before
    content: '\eee3'
