/**
 * 问题一，同写两个class，另一个重置样式前一个的时，无法正常重置，因为优先级不一样，所以这里采取
 * 【最纯粹类放在后面】，
 * 这里还有一个问题，如果把最纯粹的类放在后面 那前面的样式表就不能直接@extends .xxx(放在后面的类)，因为前面的会先生成，这里后面的没有生成会报错,
 * 问题三： 公用的类优先级都没有业务的高
 * 业务样式 > b > a
 */

//a
@import "./btn"
@import "./tag"
@import "./flex"
@import "./border"
@import "./absolute"
@import "./item"
@import "./textellipsis"
@import "./dropdown"
@import "./fixed"
@import "./input"
@import "./list"
@import "./router"
@import "./modal"
@import "./fontsize"
@import "./height"
@import "./custom"
//b
@import "./drawer"
@import "./search"
@import "./grids"
@import "./margin"
@import "./padding"
@import "./width"
@import "./icon"
@import "./zindex"
@import "./color"
@import "./background"
@import "./table"
@import "./searchbox"
@import "./permission"


// html 
//   touch-action: none;         //加这个可以防止使用iscroll时console的打印信息
// body 
//   font-size: .213333rem
// html,body
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   color: #333
//   -webkit-tap-highlight-color: rgba(0,0,0,0)          //去掉点击后出现的背景色
//   -webkit-overflow-scrolling: touch       //提高ios的滚动效果
//   overflow-scrolling: touch       //提高ios的滚动效果


// .item-ewm-pic
//   ss-display-flex(column, center, center, center)
//   img
//     border: 1px solid #ccc
//     width: 100px
//     height: @width
//   p
//     text-align: center;


// fieldset
//   text-align: center;
//   padding: 0
//   color: #333
//   font-size: 14px
//   border-top: 1px solid #ccc
//   border-left: 1px solid transparent
//   border-right: 1px solid transparent
//   border-bottom: 1px solid transparent
  
// fieldset.fieldset1px
//   ss-border( $direction: top, $absolute: true)
//   color: #999
//   &:after
//     top: 50%
// legend
//   background: #fff
//   padding: 0 10px
//   position: relative
//   z-index: 2


// //适用于文字后面的提示语
// .tips-wrod
//   font-style: normal;
//   font-size: 12px
//   color: #999
//   margin-left: 0.04rem


// lable,li,p,span,em
//   cursor: pointer
// .font-style-normal
//   font-style: normal
// .al
//   text-align: left
// .ar
//   text-align: right
// .oh
//   overflow: hidden
// .oa
//   overflow: auto
// .disN
//   display: none



// .item-lable-bold
//   color: #333
//   font-weight: bold
//   width: 1.066667rem


