.margin-20
  margin:20px 
.margin-lr-20
  margin: 0 20px 
.margin-tb-20 
  margin: 20px 0

.mt6
  margin-top: 6px
.mt7
  margin-top: 7px
.mt20
  margin-top: 20px
.mr8
  margin-right: 8px
.ml4
  margin-left: 4px
.ml8
  margin-left: 8px
.ml20
  margin-left: 20px
.mb8
  margin-bottom: 8px
.mb10
  margin-bottom: 10px 

// //以下基数为75px为准
// // 15px .2rem
// // 20px .266667rem
// // 25px .333333rem
// // 30px .4rem 
// // 40px .533333rem
// // 50px .666667rem
// // 90px 1.2rem

// /**
//   m： margin
//   mt: margin-top
//   mr: margin-right
//   ml: margin-left
//   mb: margin-bottom
//   r: rem
//   (-n): 具体的px
// */

// .mtr-1-m
//   margin-top: -.013333rem
// .mtr-2
//   margin-top: .026667rem
// .mtr-3
//   margin-top: .04rem
// .mtr-7
//   margin-top: .093333rem
// .mtr-10
//   margin-top: .133333rem
// .mtr-13
//   margin-top: .173333rem
// .mtr-14
//   margin-top: .186667rem /* 14/75 */ 
// .mtr-15
//   margin-top: .2rem
// .mtr-20
//   margin-top: .266667rem
// .mtr-30
//   margin-top: .4rem
// .mtr-40
//   margin-top: .533333rem

// .mbr-4
//   margin-bottom: .053333rem
// .mbr-5
//   margin-bottom: .066667rem
// .mbr-18
//   margin-bottom: .24rem
// .mbr-20
//   margin-bottom: .266667rem

// .mrr-2
//   margin-right: .026667rem
// .mrr-5
//   margin-right: .066667rem
// .mrr-11
//   margin-right: .146667rem


// .mlr-2
//   margin-left: .026667rem
// .mlr-10
//   margin-left: .133333rem
// .mtbr-6
//   margin: .08rem 0

// .mlrr-10
//   margin: 0 .133333rem 






// .mt-default
//   margin-top: 0.134rem
// .mr-rdefault
//   margin-right: .133333rem

// //以下的写法将废弃

// .mt-r02
//   margin-top: 0.02rem;
// .mt-r05
//   margin-top: 0.05rem;
// .mt-r07
//   margin-top: 0.07rem
// .mt-r08
//   margin-top: 0.08rem
// .mt-r2
//   margin-top: 0.2rem;
// .mt-r3
//   margin-top: 0.3rem;
// .mt-r4
//   margin-top: 0.4rem;
// .mt-r6
//   margin-top: 0.6rem;
// .mt-r12
//   margin-top: 1.2rem;
// .mt-r13
//   margin-top: .173333rem;
// .mt-r18
//   margin-top: 1.8rem;
// .mt-r-4-4     //这个写法废弃 20171215  改成mt-r4-4
//   margin-top: -0.44rem


// .ml-r2
//   margin-left: 0.2rem;
// .ml-2-m
//   margin-left: -2px
// .ml-r10
//   margin-left: .133333rem


// .mb-r02
//   margin-bottom: 0.02rem;
// .mb-r1
//   margin-bottom: 0.1rem;
// .mb-r2
//   margin-bottom: 0.2rem;
// .mb-r7
//   margin-bottom: 0.7rem

// .mr-r01
//   margin-right: 0.01rem;
// .mr-r06
//   margin-right: 0.067rem;
// .mr-r2
//   margin-right: 0.2rem;


// .mr-4-m
//   margin-right: -4px


