
.padding-15
  padding: 15px
.padding-20
  padding: 20px

.padding-lr-20
  padding: 0 20px

.padding-tb-20
  padding: 20px 0

// /**
//   p： padding
//   pt: padding-top
//   pr: padding-right
//   pl: padding-left
//   pb: padding-bottom
//   r: rem
//   (-n): 具体的px
// */

// .ptr-13
//   padding-top: .173333rem
// .ptr-60
//   padding-top: .8rem

// .plrr-25
//   padding: 0 .333333rem

// .pbr-60
//   padding-bottom: .8rem
// .pbr-80
//   padding-bottom: 1.066667rem
// .pbr-100
//   padding-bottom: 1.333333rem
// .pbr-130
//   padding-bottom: 1.733333rem
// .pbr-250
//   padding-bottom: 3.333333rem

// .ptbr-10
//   padding: .133333rem 0



// .p-item
//   padding: 0.2rem .106667rem

// .p-normal
//   padding: 0 .2rem

// .p-normal-2
//   padding: 0 .133333rem

// .p-item-normal
//   padding: .4rem .2rem

// .p-item-normal-2
//   padding: 0 .2rem .8rem .2rem
  
// .padding-default
//   padding: .133333rem

// .padding-default-2
//   padding: .2rem

// .padding-default-search
//   padding: .08rem .2rem

  

// .padding-r1
//   padding: .133333rem

// .padding-r2
//   padding: 0.2rem

// .pt-r04
//   padding-top: 0.04rem

// .pt-r08
//   padding-top: 0.08rem
// .pt-r2
//   padding-top: 0.2rem
// .pt-r4
//   padding-top: 0.4rem

// .pb-r4
//   padding-bottom: 0.4rem

// .pb-r6
//   padding-bottom: 0.6rem

// .pb-r12
//   padding-bottom: 1.2rem
// .pb-r14
//   padding-bottom: 1.7rem        ///????账号中心消息列表

// .pt-r6
//   padding-top: 0.6rem


