.wid-p72
  width: 72%
.wid-p77
  width: 77%
.wid-p78
  width: 78%
.wid-p80
  width: 80%
.wid-p86
  width: 86.66%
.wid-p89
  width: 89%
.wid-p96
  width: 96%
.wid-p97
  width: 97%
.wid-p100
  width: 100%

.widr-194
  width: 2.586667rem
.widr-216
  width: 2.88rem
.widr-270
  width: 3.6rem
