@font-face {
  font-family: 'iconfont';  /* project id 661267 */
  src: url('//at.alicdn.com/t/font_661267_bh22e4s1walfecdi.eot');
  src: url('//at.alicdn.com/t/font_661267_bh22e4s1walfecdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_661267_bh22e4s1walfecdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_661267_bh22e4s1walfecdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_661267_bh22e4s1walfecdi.svg#iconfont') format('svg');
}