@-webkit-keyframes loadingCircle {
    0% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes loadingCircle {
    0% {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
//loading动画
.s-spli
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear

//边线从中间滑出，
.ss-nav-bottom-line-animate
  position: relative
  &:before
    content: ''
    position: absolute
    left:50%
    right: @left
    background: #2d8cf0;
    height: 4px;
    transition: left .3s  ease-out, right .3s  ease-out
  
.ss-nav-bottom-line-animate-select
  &:before
    left: 0
    right: @left

//鼠标经过, dom向上移的动画
.ss-list-active
  .inner
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    &:hover
      -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
      box-shadow: 0 15px 30px rgba(0,0,0,0.1);
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
      
//鼠标经过，再隐藏的层 显示出来
.ss-item-pop
  .inner
    position: relative
  .si-pop
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: #fff
    width: 100%;
    height: 0;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  &:hover
    .si-pop
      height: 76px;
      opacity: 1;
