// bd()
//   position: relative;
//   &:after
//     content: " ";
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     // height: 1px;
//     // background-color: #D5D5D6;
//     -webkit-transform-origin: 0 0;
//     -ms-transform-origin: 0 0;
//     transform-origin: 0 0;
//     -webkit-transform: scaleY(0.5);
//     -ms-transform: scaleY(0.5);
//     transform: scaleY(0.5);

// border-bottom(n)
//   bd()
//   border-bottom: (n)px solid #ccc;
//
// border(n)
//   bd()
//   if (n == 'none')
//     border: none
//   else
//     border: (n)px solid #ccc;
