ul,li
  list-style-type: none
*
  margin: 0
  padding: 0

body
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
  position: relative;
.hidden
  display: none
.overflow-scroll
  overflow: scroll;
img 
  width: 100%
  height: auto

.cursor-pointer
  cursor: pointer
.cursor-default
  cursor: default

.ss-link
  color: #333333
  text-decoration: none
  &:hover
    text-decoration: underline

.text-decoration
  text-decoration: underline

.ss-display-none
  display: none

.ss-display-block
  display: block

.ss-relative
  position: relative

.ss-relative-ib
  position: relative
  display: inline-block