.ss-avatar-circle-lg
  ss-avatar(40px, #ccc,  100%, #fff, 14px )
.ss-avatar-radius-lg
  @extends .ss-avatar-circle-lg
  border-radius: 4px

.ss-avatar-circle
  ss-avatar(32px, #ccc,  100%, #fff, 14px )
.ss-avatar-radius
  @extends .ss-avatar-circle-lg
  border-radius: 4px

.ss-avatar-circle-sm
  ss-avatar(24px, #ccc,  100%, #fff, 14px )
.ss-avatar-radius-sm
  @extends .ss-avatar-circle-lg
  border-radius: 4px
  
