input, button, textarea
  border: none
  outline: none;
  resize:none
  -webkit-tap-highlight-color: rgba(0,0,0,0);     //去掉移动端点击会有背景色问题
  placeholder()
  line-height: normal

input:-webkit-autofill 
  -webkit-box-shadow: 0 0 0px 1000px white inset;
// border: 1px solid #CCC!important;

 //自定义checkbox    /_common/input
.c-check 
  position: relative
  checkbox-theme()


// .c-radio
//   radio-theme()
//   display-flex(row, flex-start, center, center)
//   line-height: 14px
//   margin-left: 10px
//   position: relative