*
  box-sizing: border-box
  padding: 0
  margin: 0

li
  list-style-type: none

.markdown-body
  li
    list-style-type: disc;
    li
      list-style-type: circle;


a
  color: rgba(0,0,0,.65);
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;


img
  width: 100%;
  height: auto;


.boxer
  width: 100%
  height: 100%
  box-sizing: border-box
  display: table
  overflow: hidden
  .boxer-header
    display: table-row
  .boxer-body
    display: table-row
  .boxer-footer
    display: table-row


// hlist

// .list-wrap
//   position: relative
// .hlist
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   &.itemroot{}
//   .itemCategory
//     position: relative
//   .itemrootCkb
//     position: absolute;
//     cursor: pointer;
//     opacity: 0;
//     width: 100%;
//     height: 2em;
//     left: 0;
//     top: 0;
//   &.item, .item
//     .inner{ }
//     height: auto;
//     position: relative;
//     img
//       border: 0;
//     p
//       padding: 0;
//       margin: 0;
//     a
//       text-decoration: none;
//       border: none;
//       &.caption
//         font-size: 12px;
//         text-align: center;
//     em
//       font-style: normal;
//     ul
//       li {};
//     .hbody
//       padding: 10px;
//       .caption
//         text-align: center;
//       ul
//         li{}
//     .hfoot
//       padding: 10px;
//       ul
//         li{}
//     .dot
//       position: absolute;
//       ul
//         li{ }
//     .pics{}
