.display-block
  display: block!important

.display-none
  display: none!important

.clearfloat
  zoom:1
  &:after
    display:block
    clear:both
    content:""
    visibility:hidden
    height:0
    
.btn
  padding: .4em 1em;
  text-align: center;
  white-space: nowrap;
  min-width: 100px
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
