// ss-tabs-menu-body($height = 50px,$fontSize = 16px, $border-bottom-li-after = none, $border-left-li = none,  $margin-left-li = 0, $flex-li= auto, $li-hover = false)
//   ss-display-flex(row, flex-start, center,center)
//   height: $height
//   text-align: center;
//   font-size: $fontSize
//   li
//     border-left: $border-left-li
//     cursor: pointer;
//     position: relative;
//     margin-left: $margin-left-li
//     line-height: @height
//     flex: $flex-li
//     &:first-child
//       border-left: 0
//       margin-left: 0
//     &:after
//       border-bottom: $border-bottom-li-after
//       content: ''
//       position: absolute;
//       bottom: 0
//       left: 0;
//       width: 100%;
//     &.select
//       &:after
//         border-bottom-color: #999999
//   if $li-hover
//     li
//       &:hover
//         &:after
//           border-bottom-color: #000

ss-tabs-menu( $color = #333, $padding = 0.14rem 0.16rem, $margin-left = 0.14rem, $hover-color = #2485cf, $hover-border-color = #2485cf)
  ss-display-flex(row nowrap, flex-start, center, center)
  background: #fff
  // border-bottom: 1px solid #e3e3e3
  ss-border($absolute: true, $absoluteBottom: true)
  color: $color
  margin-left: - ($margin-left)
  >li
    padding: $padding
    margin-left: $margin-left
    border-bottom: 3px solid transparent;
    &.select,&:active
      color: $hover-color
      border-bottom: 2px solid $hover-border-color
      z-index 3
