@import "./flex"
@import "./iconfont"
@import "./custom"
@import "./fieldset"
@import "./fixed"
@import "./input"
@import "./btn"
@import "./nav"
@import "./opacity"
@import "./list"
@import "./frontsearchattr"
@import "./tag"
@import "./table"
@import "./textellipsis"
@import "./router"

ss-box-shadow($box-shadow = 0 2px 8px #f0f1f2)
  background: #fff;
  -webkit-box-shadow: $box-shadow
  box-shadow: $box-shadow